div.teclado,
div.pantalla {
  display: table;
  width: 200px;
  background-color: rgb(197, 197, 209);
  border-collapse: separate;
  border-spacing: 5px;
  table-layout: fixed;
}

div.tecla {
  display: table-cell;
  width: 25%;
  height: 30px;
  background-color: rgb(110, 110, 119);
  vertical-align: middle;
  text-align: center;
  color: white;
}

div.resultado {
  display: table-cell;
  width: 100%;
  height: 30px;
  background-color: rgb(255, 255, 255);
  vertical-align: middle;
  text-align: right;
  padding: 0 5px;
}

div.fila {
  display: table-row;
}
